<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ejemreactivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ejemreactivo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button color="secondary" (click)="goToInicio()">Inicio</ion-button>
  
    <form [formGroup]="formCliente" (ngSubmit)="guardarDatos()">
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input formControlName="nombreCliente"></ion-input>
      </ion-item>
      <ion-item>
        <label>Email:</label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <label>Telefono:</label>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <label>Direccion:</label>
        <ion-input formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <label>Company:</label>
        <ion-input formControlName="company" ></ion-input>
      </ion-item>
   </form>
   <p class="ion-text-center">
     <ion-button type="submit" [disabled]="!formCliente.valid" (click)="guardarDatos()">Editar</ion-button>
   </p>
  </ion-content>
